{% extends 'base.html' %}

{% block content %}
<style>
    .reset-password-container {
    max-width: 500px;
    margin: 2rem auto;
    padding: 2rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.form-group {
    margin-bottom: 1rem;
}

.alert {
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 4px;
}

.alert-danger {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
}

</style>
<div class="reset-password-container">
    <h2>Mot de passe modifié avec succès</h2>
    <p>Votre mot de passe a été réinitialisé avec succès.</p>
    <a href="{% url 'Bapp:manager_login_page' %}" class="btn btn-primary" style="text-align:center; text-decoration:none;">Se connecter</a>
</div>
{% endblock %}