{% extends 'base.html' %}

{% block content %}
<style>
    .reset-password-container {
    max-width: 540px;
    margin: 2rem auto;
    padding: 2rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.span{
    font-size:17px;
    font-weight:300;
    text-decoration:underline;
}
.form-group {
    margin-bottom: 1rem;
}

.alert {
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 4px;
}

.alert-danger {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
}

</style>
<div class="reset-password-container">
    <h2>Email envoyé</h2>
    <p>
        Si un compte existe avec l'adresse email <span class="span"> {{user_mail}}, </span>vous recevrez un lien de réinitialisation
        dans quelques minutes. Vérifiez votre boîte de réception et vos spams.
    </p>
</div>
{% endblock %}