{% extends "site/admin/base_admin.html" %}

{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      {% block title %}<title>Add User</title>{% endblock %}
      {% block extra_css %}<link href="{% static 'css/admin/admin_subcribe.css'%}" rel="stylesheet" type="text/css">{% endblock %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
</head>

{% block content %}
<section class="signup-section">
    <div class="signup-container">
        <h1 class="signup-title">Formulaire d'ajout de membres</h1>
        <p class="para1">Notez que les champs avec étoiles sont obligatoires. </p>
         <div class="container_form">
             {% if request.session.user_name %}
             <p style=" padding:20px 0px;">Bonjour : <strong style="color:#e019ff;" >{{ request.session.user_name|default:"non définie" }}</strong></p>
             {% endif %}


        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}" >
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <form method="POST" enctype="multipart/form-data" action="{% url 'Bapp:admin_subcribe'%}" class="signup-form" >
            {% csrf_token %}

            <div class="form-row">
                <div class="form-group">
                    <label for="lastName">Nom <strong class="asterisque">*</strong></label>
                    {{ form.name }}
                    <p class="error-message" style="color:red;">{{ form.name.errors }}</p>
                </div>
                <div class="form-group">
                    <label for="firstName">Prénom <strong class="asterisque">*</strong></label>
                    {{ form.prenoms }}
                    <p class="error-message" style="color:red;">{{ form.prenoms.errors }}</p>
                </div>

            </div>

            <div class="form-row">
                <div class="form-group">
                    <label for="quartier-id">Quartier <strong class="asterisque">*</strong></label>
                    {{ form.quartier }}
                    <p class="error-message" style="color:red;">{{ form.quartier.errors }}</p>
                </div>

                <div class="form-group">
                    <label for="pays-id">Pays <strong class="asterisque">*</strong></label>
                    {{ form.pays }}
                    <p class="error-message" style="color:red;">{{ form.pays.errors }}</p>
                </div>
            </div>

            <div class="form-group">
                <label for="email-id">Email <strong class="asterisque">*</strong></label>
                {{ form.email }}
                <p class="error-message" style="color:red;">{{ form.email.errors }}</p>
            </div>

            <div class="form-group">
                <label for="telephone-id">Téléphone <strong class="asterisque">*</strong></label>
                {{ form.telephone }}
                <p class="error-message" style="color:red;">{{ form.telephone.errors }}</p>
            </div>
            <div class="form-group">
                <label id="label-role-id" for="role-id">Type d'utilisateur: <strong class="asterisque">*</strong></label>
                {{form.role }}
                <p class="error-message" style="color:red;">{{ form.role.errors }}</p>
            </div>
             <div class="form-group">
                <label id="label-image-id" for="role-id">Image de pofile:</label>
                {{form.profile_picture }}
                <p class="error-message" style="color:red;">{{ form.profile_picture.errors }}</p>
            </div>
            <div class="form-row" id="div_password">
                <div class="form-group">
                    <label for="password-id">Mot de passe <strong class="asterisque">*</strong></label>
                    {{ form.password }}
                    <p class="error-message" style="color:red;">{{ form.password.errors }}</p>
                </div>

                <div class="form-group">
                    <label for="confirm_pass">Confirmer le mot de passe <strong class="asterisque">*</strong></label>
                    {{ form.confirm_password }}
                    <p class="error-message" style="color:red;">{{ form.confirm_password.errors.as_text }}</p>
                </div>
            </div>

            <button type="submit" class="submit-btn">S'inscrire</button>
        </form>
        </div>
    </div>
</section>
<!--Script important chargé de recueillir les donnés de l'utilisateur actuellement connecté-->
<script id="user-info" type="application/json">
 {
    "is_superuser": "{{ request.user.is_superuser|yesno:'true,false' }}",
    "username": "{{ request.user.prenoms }}",
    "role": "{{ request.user.role|default:'null' }}"
  }
</script>

<!--Script chargé de traiter les données de l'utilisateur recueilli au nivean du script en haut-->
<script type="text/javascript">

    document.addEventListener('DOMContentLoaded', function () {

    const selectId = document.getElementById('role-id');
    const lblSelect = document.getElementById('label-role-id')
    console.log(selectId);
    console.log(lblSelect);
    const userInfo = JSON.parse(document.getElementById("user-info").textContent);
    // On s'assure que userInfo.is_superuser return un objet de type boolean
    const isSuperuser = (userInfo.is_superuser === true || userInfo.is_superuser === "true");
    console.log('Êtes vous ADMIN ? '+isSuperuser);
    const rolesToShowPassword = ['SECRETOR', 'SECOND_SECRETOR', 'MODERATOR', 'EDITOR'];

    if (isSuperuser){
        console.log(userInfo.is_superuser);
        console.log("Bienvenue "+userInfo.username+ " Vous êtes "+userInfo.role);

        selectId.addEventListener('change', function() {
            const userType = this.value;
            const divPassword = document.getElementById('div_password');

            console.log(divPassword);
            console.log(userType);
            if (rolesToShowPassword.includes(userType)) {
                divPassword.style.display = 'block';
            } else {
                divPassword.style.display = 'none';
            }
        });
    } else {
        selectId.style.display = 'none';
        lblSelect.style.display = 'none';
    }
});



</script>
{% endblock %}