body {
    font-family: Arial, sans-serif;
    background: #f8f9fa;
    padding: 2rem;

}

.form-container {
    max-width:59%;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

input, select, button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin: 5px 0;
    width: 100%;
}

button {
    background-color: #28a745;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

#error_message {
    color: red;
    font-size: 0.9rem;
}
